<%- include("partials/header",{title:"home",link:"./assets/style.css"}) %>




<h1>
    get  post
</h1>

<a href="/blogs/"> <- back to the home</a>

<form action="/blogs/create" method="post">
    <input type="text" name="title" placeholder="enter title">
    <textarea name="description" placeholder="enter description" cols="30" rows="10"></textarea>
    <button type="submit">
        submit
    </button>
</form>

<%- include("partials/footer") %>

